body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2E2E2E;
  color: #ffffff;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 1em;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 1em;
}

section {
  margin-bottom: 1em;
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }
}
